# Linting and formatting
pyrightconfig.json
.pylintrc

# Cache
**/__pycache__
**/.pytest_cache
*.pt

# DCPose
/DcPose_supp_files
/demo/input
/demo/output
.idea

# Deform Conv build files
**/build/
*.pyd
thirdparty/deform_conv/deform_conv.egg-info/

# Demo
weights/
*.avi
*.mp4
*.png
