# Cache
**/__pycache__
**/.pytest_cache
*.pt

# DCPose
/demo/input/
/demo/output/
.idea

# Deform Conv build files
**/build/
*.pyd
thirdparty/deform_conv/deform_conv.egg-info/

# Demo
weights/
*.avi
*.mp4
*.png
